body,h1,h2,h3,h4,h5,h6 {font-family: Righteous, sans-serif;}


.bike-container
{
  padding: 30px;
  
}


.ELIAS
{
  text-align: center;
  text-shadow: #6e6e6e;
  margin-bottom: 30px;
}


.navcolor
{
  background-color: #ff4209;
  padding: 2px;
  text-align: center;
  margin-bottom: 50px;
}


.bike-grid
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
  
  
}


.bike-card
{
border-width: 10px;
border-color: #ff4209;
border-style: solid;
position: relative;
}


.bike-model
{
text-align: center;
}


.bike-card-content
{
text-align: center;
margin: 2px;
}

.img
{
padding: 10%

}

.img img, .bike-image {
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
}

.dropdown-content
{
  display: none; 
  border-color: #000000;
  border-width: 5px;
  border-style: double;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.4s ease-in-out;
}

.bike-card:hover .dropdown-content
{
display: block;
opacity: 1;
visibility: visible;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-content:hover .dropdown {
  max-height: 500px;
  transition: max-height 0.5s ease-in; */
}

.dropdown-content {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.bike-card:hover .dropdown-content {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.bodylayout
{
  background-color: #6e6e6e;
  color: rgb(0, 0, 0);
  margin: 45px;
}


.layout-grid 
{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}