body,h1,h2,h3,h4,h5,h6 {font-family: Righteous, sans-serif;}


.bike-container
{
  padding: 30px;
  
}


.ELIAS
{
  text-align: center;
  text-shadow: #6e6e6e;
  margin-bottom: 30px;
}


.navcolor
{
  background-color: #ce0000;
  padding: 2px;
  text-align: center;
  margin-bottom: 50px;
}


.bike-grid
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
  
}


.bike-card
{
border-color: rgb(99, 0, 0);
border-width: 5px;
border-style: groove;
position: relative;
}


.bike-model
{
text-align: center;
}


.bike-card-content
{
text-align: center;
margin: 10px;
}


.dropdown-content
{
  display: none; 
  min-width: 500px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.13);
  opacity: 0;
  z-index: 1;
}

.bike-card:hover .dropdown-content
{
display: block;
opacity: 1;
}

.bodylayout
{
  background-color: #6e6e6e;
  color: rgb(0, 0, 0);
  margin: 100px;
}


.layout-grid 
{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}