{% extends "layout.html" %}
{% block body %}

<header class="aestethic header">
       

<div class="bike-container">
    <div class="bike-grid">
            {% for bike in bikes %}
            <div class="bike-card"> 
                <h2 class="bike-model">{{ bike[2] }}</h2>
                    
                    <div class="bike-card-content">
                        <a href="#">
                            <div class="img-border"><img src="{{ bike[3] }}s" alt="Bike Image" class="bike-image"></div>
                        </a>
                                <div  class= "dropdown-content">
                                    
                                        <p>Farbe: {{ bike[3] }}</p>
                                        <p>Preis: {{ bike[4] }} €</p>
                                        <p>Beschreibung: {{ bike[5] }}</p>
                                </div>                                                                                                                                                                                                            
                    </div>                                 
            </div>
            {% endfor %}
    </div>
</div>


  {% endblock %}
                                           